.section3 .texto-section3{
    animation-duration: 4s;
    animation-name: contraer;
}

.section3 img {
    animation-duration: 4s;
    animation-name: aparecer;
}

.section4 .img-section4{
    animation-duration: 4s;
    animation-name: aparecer;
}

.section-gallery .card {
    animation-name: aparecer;
    animation-duration: 4s;
}

@keyframes contraer {
    from{
        margin-right: 10%;
    }

    to{
        margin-right: 0%;
    }
}

@keyframes aparecer {
    from{
        opacity: 0.4;
    }

    to{
        opacity: 1;
    }
}