.section5{
    height:380px;
    background-image: url(/src/fondosection5desk.png);
}
.contenedor-section5{
    flex-direction: row;
    justify-content: space-evenly;
}
.contenedor-linea{
    width: 500px;
}


footer{
    height: 300px;
    flex-direction: row;
    justify-content: space-around;
}