footer{
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    padding-top:30px;
    display:flex;
    flex-direction:column;
    height: 680px;
    width: 100%;
    font-family: Roboto;
    font-size: 20px;
   align-items:center;

}
.logo-footer{
    width: 208px;
    height: 208px;
    margin-bottom: 28px;
}

.servicios-footer{
    min-width: 13em;
    padding-bottom: 41px;
    overflow-y: hidden;
}
.logocorreo{
    border-left: 1px;
}

.redes-footer{
    overflow-y: hidden;
}

.redes-footer div{
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size: 16px;
    padding:20px 0;
}

.redes-footer div p{
    margin-left: 0.5em;
}
