.section5{
    background-image: url(../src/fondosection5.png);
    height: 547px;
    color: white;
    display:flex;
    flex-direction: column;
}
.section5 h2{
    padding-top: 38px;
    font-size: 27px;
    font-weight: bold;
}