.section3{
    padding: 50px;
    display:flex;
    flex-direction:column; 
    align-items:center;
    justify-content: center;
}

.section3-blue{
    background-color:var(--bitcoin-blue);
    color:var(--blanco);
}

.section3-blue-first{
    margin-top: 5em;
    background-color:var(--bitcoin-blue);
    color:var(--blanco);
}

.section3-white-first{
    margin-top: 5em;
    background-color:var(--blanco);
    color:var(--bitcoin-gray);
}

.section3-white-first .texto-section3{
    padding-right: 4em;
}

.section3-white{
    background-color:var(--white);
    color:var(--bitcoin-gray);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.texto-section3{
    max-width: 44em;
}

.section3-white .texto-section3{
    padding-left: 4em;
    text-align: end;
    background-color:var(--white);
    color:var(--bitcoin-gray);
}

.section3-blue .texto-section3{
    padding-right: 4em;
}
.section3 h2{
    padding-bottom: 41px;
    font-size:28px;
    font-weight:bold;
}
.section3 p{
    padding-bottom: 41px;
    font-size: 16px;
}
.section3 img{
    width: 271px;
    height:360px;
}


@media (min-width: 768px){
    .texto-section3{
        width: 800px;
    }

    .section3{
        flex-direction:row;
    }
    .section3 img{
        width: 371px;
        height:494px;
    }
    .section3 h2{
        font-size: 38px;
    }
    .section3 p{
        font-size: 26px;
    }
    .section3-white-reverse{
        flex-direction: row-reverse;
    }
    
}

@media (max-width: 500px) {

    .section3-white .texto-section3{
        padding-left: 0em;
    }

    .section3-blue .texto-section3{
        padding-right: 0em;
    }

    .section3-white-first .texto-section3{
        padding-right: 0em;
    }
}

