.section-video{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:500px;
}
.section-video h2{
    padding: 30px 0px;
}
.section-video iframe{
    
}
.section-video a{
    border-radius: 10px;
    width:150px;
    height:25px;
    color:white;
    background-color:#4081BC;
    text-align:center;
}