.section-video{
    display:flex;
    flex-direction: column;
    height:560px;
    align-items: center;
    background-color: var(--bitcoin-blue);
}

.section-video h2{
    padding: 30px 0px;
    color:white;
}

.section-video .see a{
    border-radius: 10px;
    padding-top: 0.4em;
    padding-bottom: 0em;
    width: 7em;
    height: 2.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color:white;
    background-color:var(--bitcoin-orange);
    text-align:center;
    text-decoration: none;
}


.section-video .see a:hover{
    width: 7em;
}

.section-video .see {
    display: flex;
    justify-content: center;
}

.contenedor-video iframe{
    border: none;
    margin: 10px 10px;
}
.contenedor-video{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

@media (max-width: 500px){
    .section-video .see a{
        width: 7em;
        height: 2.5em;
        margin-top: 1em;
        overflow-y: hidden;
    }
}