.section-video{
    height: auto;
}
.section-video iframe{
    width: 600px;
    height: 400px;
    margin: 20px 0px;
}
.section-video a{
    width:333px;
    height:56px;
    font-size:28px;
    margin: 30px 0;
}
.contenedor-video{
    display:flex;
    justify-content:space-around;
}